.fontFamily {
 font-family: Trebuchet MS, sans-serif;
 font-style: italic;
 color: rgb(204, 197, 197);
}
.text-color {
  color: white;
}

.tamanho-project {
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid red;
  background-size: cover;
}